{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "test": true,
    "describe": true,
    "expect": true,
    "grecaptcha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "root": true,
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used"
      }
    ]
  }
}
